@{
    Layout = "~/Views/Layout.cshtml";
}
<div class="content">
    <h1 align="center">Новинки в нашем ассортименте!</h1>
    <p>
    </p>

    <!-- Вставка изображений новинок -->
    <table align="center" cellpadding="10">
        <tr>
            <td align="center">
                <img src="фотка" alt="Классические 1" width="400" height="300">
                <p><b>товар 1</b></p>
            </td>
            <td align="center">
                <img src="" alt="Римские 2" width="400" height="300">
                <p><b>товар 2</b></p>
            </td>
        </tr>
        <tr>
            <td align="center">
                <img src="" alt="Рулонные 3" width="400" height="300">
                <p><b>товар 3</b></p>
            </td>
            <td align="center">
                <img src="" alt="Японские 4" width="400" height="300">
                <p><b>товар 4</b></p>
            </td>
        </tr>
    </table>
</div>