@{
    Layout = "~/Views/Layout.cshtml";
}
<!-- Основной контент распродажи -->
<div class="content">
    <h1 align="center">Распродажа штор!</h1>
    <p>
        Акция действует ограниченное время, поэтому не упустите возможность приобрести товар мечты с большими скидками!
    </p>

    <!-- Вставка изображений -->
    <table align="center" cellpadding="10">
        <tr>
            <td align="center">
                <img src="" alt="Классические 1" width="400" height="300">
                <p><b>Классические 1</b><br><i>Теперь со скидкой 30%</i></p>
            </td>
            <td align="center">
                <img src="" alt="Римские 2" width="400" height="300">
                <p><b>Римские 2</b><br><i>Скидка до 25%</i></p>
            </td>
        </tr>
        <tr>
            <td align="center">
                <img src="" alt="Рулонные 3" width="400" height="300">
                <p><b>Рулонные 3</b><br><i>Скидка 20%</i></p>
            </td>
            <td align="center">
                <img src="" alt="Японские 4" width="400" height="300">
                <p><b>Японские 4</b><br><i>Скидка до 35%</i></p>
            </td>
        </tr>
    </table>
</div>